<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/about.css">
<header>
    <div class="container">
        <img src="static/img/unnamed.png" width="35px" height="35px">
        <h1>BuySell</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/">Добавить объявления</a></li>
                <li><a href="/about">О сайте</a></li>
                <li><a href="/login" class="login-btn">Вход</a></li>
            </ul>
        </nav>
    </div>
</header>
<br><br>

<div class="tegp">

    <h3>
        О сайте
    </h3>
    <p>
        Добро пожаловать на наш сайт купли-продажи BUYSELL! Здесь вы найдете широкий
        выбор товаров и услуг, которые могут быть проданы или куплены на нашей
        платформе.
    </p>

    <p>
        Наш сайт предлагает удобный интерфейс.
        Независимо от того, ищете ли вы телефон, аксессуары, бытовую технику,
        или другие товары, наш сайт предоставляет широкий ассортимент
        электронике для всех возрастов и интересов.
    </p>



    <p>
        Если вы ищете место, где можно купить или продать товары, то наш сайт
        купли-продажи - это именно то место, которое вы искали! Мы гарантируем
        высокое качество обслуживания, безопасность и надежность нашей
        платформы, что делает наш сайт незаменимым инструментом для любого, кто
        хочет купить или продать товары.
    </p>
    <p>
        Наши контакты:
    </p>
    <p>
        Сафаров Шахзод: safarovshahzod101@mail.ru
    </p>
    <p>
        Солиев Исфандиёр: 1sfandiyor.02@mail.ru
    </p>
</div>