<link rel="stylesheet" href="static/css/not.reg.css">
<link rel="stylesheet" href="static/css/style.css">

<header>
    <div class="container">
        <img src="static/img/unnamed.png" width="35px" height="35px">
        <h1>BuySell</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="#">Добавить объявления</a></li>
                <li><a href="/about">О сайте</a></li>
            </ul>
        </nav>
    </div>
</header>
<br><br>

<h1>Необходимо авторизоваться</h1>
<br>
<div class="img_container">
    <img src="static/img/icon240.png">
</div>
<br>

<a href="/register">Если нет аккаунта зарегистрируйтесь</a>

<a href="/login">Если есть аккаунт войдите</a>
